<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>动漫信息</title>

</head>
<body>
<div>
    <!-- 导航栏-->
    <div th:replace="/back/back :: head"></div>
    <!-- 中间部分（包括左边栏和员工/部门表单显示部分） -->
    <div class="back_body" style="position:relative; top:-15px;">

        <!-- 左侧栏 -->
        <div th:replace="/back/acInfo/ac_Info :: left"></div>

        <!-- 动漫信息展示内容 -->
        <div class="col-sm-10 mainInfo">

            <div class="panel panel-success">
                <!-- 路径导航 -->
                <div class="panel-heading">
                    <ol class="breadcrumb">
                        <li><a href="#">动漫信息</a></li>
                        <li class="active">新增结果</li>
                    </ol>
                </div>
                <!-- Table -->
                <table class="table table-bordered table-hover">
                    <thead>
                    <th width="100">ID</th>
                    <th width="150">封面/海报</th>
                    <th>作品名</th>
                    <th>作者/导演</th>
                    <th>操作</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${ac.id}"></td>
                        <td th:if="${#strings.isEmpty(ac.image)}"><img th:src="@{/images/null.png}" height="100px"></td>
                        <td th:if="!${#strings.isEmpty(ac.image)}">
                            <img th:src="@{'/images/cover/'+${ac.image}}" height="100px">
                        </td>
                        <td th:text="${ac.name}"></td>
                        <td th:text="${ac.author}"></td>
                        <td>
                            <a th:href="@{'/back/edit/'+${ac.id}}">编辑详情</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a th:href="@{/back/add}" class="btn btn-info btn-block" role="button">继续添加</a>
        </div>
    </div>
</div><!-- /.container -->

</body>
</html>
