<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <style type="text/css">
        .table {
            border-style: double;
        }
    </style>
</head>
<body>
<span th:text="${news.newsTitle}"></span>
<span th:text="${news.newsAuthor}"></span>
<span th:text="${news.newsDate}"></span>
<div id="div1" th:utext="${news.newsContent}"></div>
<div id="div2"></div>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $.post("/testNews", {id: [[${news.newsId}]]}, function (data, status) {
        if (status === 'success') {
            let html = "";
            html += data.newsContent;
            $("#div2").html(html);
        }
    });
</script>
</body>
</html>