<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户管理</title>
</head>
<body>
<div>
    <!-- 导航栏-->
    <div th:replace="/back/back :: head"></div>
    <!-- 中间部分（包括左边栏和员工/部门表单显示部分） -->
    <div class="back-body">
        <!-- 左侧栏 -->
        <div th:replace="/back/user/userInfo :: left"></div>

        <!-- 中间员工表格信息展示内容 -->
        <div class="col-sm-offset-2 col-sm-10">
            <div class="panel panel-danger">
                <!-- 路径导航 -->
                <div class="panel-heading">
                    <ol class="breadcrumb">
                        <li><a href="#">用户管理</a></li>
                        <li>详细信息</li>
                        <li class="active">UID:<span class="badge">[[${user.uid}]]</span></li>
                    </ol>
                </div>
                <div class="panel-body">
                    <div class="col-md-3" style="text-align: center;">
                        <div style="background-color:#E6E6FA;width: 250px;height: 250px;line-height: 250px">
                            <img alt="头像"
                                 style="width: auto;height: auto;max-height: 100%;max-width: 100%;vertical-align: middle;"
                                 th:src="@{${#strings.isEmpty(user.photo)?'/images/no-one.jpg':'/images/avatar/'+user.photo}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong>用户名：</strong><span th:text="${user.username}"></span>
                            </li>
                            <li class="list-group-item">
                                <strong>生　日：</strong>
                                <span th:text="${#dates.format(user.birth,'yyy/MM/dd')}"></span>
                            </li>
                            <li class="list-group-item">
                                <strong>邮　箱：</strong><span th:text="${user.email}"></span>
                            </li>
                            <li class="list-group-item">
                                <strong>性　别：</strong>
                                <span th:text="${user.gender=='M'?'男':'女'}"></span>
                            </li>
                            <li class="list-group-item">
                                <strong>角　色：</strong>
                                <span th:each="r : ${roles}" th:text="${r+'　'}"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3" style="text-align: center;">
                        <button id="button-delete" type="button" class="btn btn-warning btn-lg btn-block">
                            注　销
                        </button>
                        <button type="button" class="btn btn-success btn-lg btn-block" id="button-edit">
                            禁　言
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->
<script>
    $("#button-delete").click(function () {
        if (confirm("确定删除用户【 [[${user.uid + '.' + user.username}]] 】？")) {
            alert("未实现的功能！");
        }
    });
    $("#button-edit").click(function () {
        alert("未实现的功能！");
    });
</script>
</body>
</html>
