<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${'编辑【'+ac.id+'.'+ac.name+'】'}"></title>
    <style>
        button {
            width: 100px;
        }

        button.btn-edit {
            margin-left: 100px;
        }
    </style>
</head>
<body>
<div>
    <!-- 导航栏-->
    <div th:replace="/back/back :: head"></div>

    <!-- 左侧栏 -->
    <div th:replace="/back/acInfo/ac_Info :: left"></div>

    <!-- 中间员工表格信息展示内容 -->
    <div class="col-sm-10 col-sm-offset-2">
        <div class="panel panel-success">
            <!-- 路径导航 -->
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li><a href="#">动漫信息</a></li>
                    <li><a href="#">编辑信息</a></li>
                    <li class="active">
                        <span class="badge" th:text="${'ID:'+ac.id}"></span>
                    </li>
                </ol>
            </div>
            <form class="form-horizontal panel-body" role="form" action="/back/editOk" method="post"
                  enctype="multipart/form-data" id="myForm">
                <input type="hidden" name="id" th:value="${ac.id}">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="country" class="col-sm-2 control-label">国家/地区</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="country" name="country" placeholder="请输入国家或地区"
                                   th:value="${ac.country}" list="countries"/>
                            <datalist id="countries">
                                <option th:each="c : ${countries}" th:value="${c}">
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="name" name="name" placeholder="请输入作品名"
                                   th:value="${ac.name}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="author" class="col-sm-2 control-label">作者</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="author" name="author" placeholder="请输入作者名"
                                   th:value="${ac.author}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="year" class="col-sm-2 control-label">年份</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="year" name="year" placeholder="请输入年份"
                                   th:value="${ac.year}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="info" class="col-sm-2 control-label">简介</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="10" id="info" name="info" th:text="${ac.info}"
                                      placeholder="请输入简介" maxlength="200"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="category" class="col-sm-2 control-label">类别</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="category" name="category">
                                <option th:selected="${ac.category=='A'?true:false}" th:text="动画" value="A"></option>
                                <option th:selected="${ac.category=='C'?true:false}" th:text="漫画" value="C"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="file" class="col-sm-2 control-label">封面/海报</label>
                        <div class="col-sm-10" style="height: 300px;width: 300px;">
                            <input type="hidden" name="image" th:value="${ac.image}">
                            <img id="preImg" alt="封面" style="width: auto;height: auto;max-width: 100%;max-height: 100%;"
                                 th:src="@{${#strings.isEmpty(ac.image)?'/images/none.png':'/images/cover/'+ac.image}}">
                            <input type="file" id="file" name="file" accept="image/jpeg,image/png">
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" style="text-align: center;margin-top: 30px">
                    <button type="reset" class="btn btn-warning">恢复
                    </button>
                    <button type="button" class="btn btn-info btn-edit" id="button-edit">修改
                    </button>
                    <button type="button" class="btn btn-danger btn-edit" id="button-delete">删除
                    </button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.container -->
<script type="text/javascript">
    const maxSize = 2 * 1024 * 1024;
    const $preImg = $("#preImg");
    $("#file").change(function () {
        let file = $(this)[0].files[0];
        if (file.type !== 'image/png' && file.type !== 'image/jpeg') {
            alert(file.type + "格式错误!暂时只支持jpg/png");
            $(this)[0].value = '';
            return;
        }
        if (file.size > maxSize) {
            alert("图片过大!");
            $preImg.attr("src", "[[@{/images/none.png}]]");
            $(this)[0].value = '';
            return;
        }
        $preImg.attr("src", getObjectURL(file));
    });
    $("#button-delete").click(function () {
        let id = "[[${ac.id}]]";
        let aName = "[[${ac.name}]]";
        if (confirm("确定删除【" + id + "." + aName + "】？")) {
            window.location.href = "/back/deleteOne/" + id;
        }
    });
    $("#button-edit").click(function () {
        if (confirm("确定修改【[[${ac.id}]].[[${ac.name}]]】？")) {
            $.post("/back/editOk",);
            submitForm();
        }
    });
    $("button:reset").click(function () {
        location.reload();
    });

    function submitForm() {
        let formData = new FormData($("#myForm")[0]);
        $.ajax({
            async: false,
            type: "post",
            url: "[[@{/back/editOk}]]",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, status) {
                if (status === 'success') {
                    if (data.message === 'success') {
                        location.reload();
                        return alert("修改成功!");
                    } else {
                        return alert("修改失败!" + data.message);
                    }
                } else {
                    alert("发送失败,请重试!");
                }
            },
            error: function (xhr, status) {
                let word = "系统繁忙,请重试";
                if (xhr.status === 400) {
                    word = "数据输入错误,请检查!";
                }
                alert(word + ":" + status + xhr.status + "!!");
            }
        });
    }
</script>
</body>
</html>
