<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>动漫资讯</title>
    <link th:replace="/back/back :: icon"/>
    <script>
        const pathName = "[[@{/back/news}]]";
    </script>
</head>
<body>
<!-- 导航栏-->
<div th:replace="/back/back :: head"></div>
<!-- 左侧栏 -->
<div class="panel-group col-sm-2 position-fixed text-center" role="tablist" aria-multiselectable="true"
     th:fragment="left">
    <ul class="nav nav-pills nav-stacked emp_sidebar">
        <li role="presentation" class="active">
            <a href="#" data-toggle="collapse" data-target="#collapse_news">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"> 动漫情报</span>
            </a>
            <ul class="nav nav-pills nav-stacked" id="collapse_news">
                <li role="presentation"><a th:href="@{/back/acNews}">全部资讯</a></li>
                <li role="presentation"><a th:href="@{/back/addNews}">发布情报</a></li>
                <li role="presentation"><a href="#">审核文章</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-pills nav-stacked dept_sidebar">
        <li role="presentation" class="active">
            <a href="#" data-toggle="collapse" data-target="#collapse-violate">
                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> 公告通知</span>
            </a>
            <ul class="nav nav-pills nav-stacked" id="collapse-violate">
                <li role="presentation"><a href="#">公告管理</a></li>
                <li role="presentation"><a href="#">发布公告</a></li>
                <li role="presentation"><a href="#">发布通知</a></li>
            </ul>
        </li>
    </ul>
</div><!-- /.panel-group，#hrms_sidebar_left --><!-- 动漫信息展示内容 -->
<div class="col-sm-10 mainInfo">
    <div class="panel panel-warning">
        <!-- 路径导航 -->
        <div class="panel-heading">
            <ol class="breadcrumb">
                <li><a href="#">动漫资讯</a></li>
                <li class="active">全部公告</li>
            </ol>
            <div class="input-group search">
                <label for="search-input"></label>
                <input type="text" class="form-control" id="search-input" placeholder="根据关键词搜索消息">
                <span class="input-group-btn">
						    <button class="btn btn-default" id="search-button" type="button">Go!</button>
					    </span>
            </div><!-- /input-group -->
        </div>
        <!-- Table -->
        <table class="table table-bordered table-hover">
            <thead>
            <th></th>
            <th>标题</th>
            <th>分类</th>
            <th>发布者</th>
            <th>时间</th>
            <th>状态</th>
            <th>操作</th>
            </thead>
            <tbody id="tBody">
            <tr th:each="n,num : ${pages.list}">
                <td th:text="${num.index+1}"></td>
                <td th:text="${n.newsTitle}"></td>
                <td th:text="${n.newsType}"></td>
                <td th:text="${n.newsAuthor}"></td>
                <td th:text="${#dates.format(n.newsDate,'yyy/MM/dd HH:mm:ss')}"></td>
                <td th:switch="${n.status}">
                    <span th:case=0>隐藏</span>
                    <span style="color: blue;" th:case=1>正常</span>
                    <span style="color: red;" th:case=2>置顶</span>
                </td>
                <td>
                    <a target="_blank" th:href="@{'/back/showNews'+${n.newsId}}">详情</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:replace="/back/back :: page"></div>
    </div><!-- /.panel panel-success -->
</div><!-- /.emp_info -->
</body>
</html>