<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>[[${news.newsTitle}]]</title>
    <style type="text/css">

        .info b {
            color: blue;
        }

        .content img {
            max-height: 400px;
        }
    </style>
</head>
<body>
<!-- 导航栏-->
<div th:replace="/back/back :: head"></div>
<!-- 左侧栏 -->
<div th:replace="/back/acNews/acNews :: left"></div>
<div class="col-sm-10 col-sm-offset-2" style="height: 100%;">
    <div class="panel panel-warning" style="height: 95%;overflow: auto;">
        <!-- 路径导航 -->
        <div class="panel-heading">
            <ol class="breadcrumb">
                <li><a href="#">动漫资讯</a></li>
                <li>详情</li>
                <li class="active" th:text="${'《'+news.newsTitle+'》'}"></li>
            </ol>
            <div style="position: absolute;right: 4%;">
                <label for="news-type">类型：</label>
                <select id="news-type">
                    <option th:each="t : ${type}" th:text="${t}" th:selected="${news.newsType eq t}">
                    </option>
                </select>
                <label style="margin-left: 50px" for="status">状态：</label>
                <select id="status">
                    <option th:selected="${news.status==0}" value=0>隐藏</option>
                    <option th:selected="${news.status==1}" value=1>正常</option>
                    <option th:selected="${news.status==2}" value=2>置顶</option>
                </select>
            </div>
            <strong style="margin-left: 50px">作者：</strong><span th:text="${news.newsAuthor}"></span>
            <strong style="margin-left: 50px">发表日期：</strong>
            <span th:text="${#dates.format(news.newsDate,'yyy/MM/dd HH:mm:ss')}"></span>
        </div>
        <!--正文-->
        <div id="editor-toolbar" class="toolbar"></div>
        <div id="editor-text" class="text" th:utext="${news.newsContent}"></div>
        <input id="submit-btn" type="button" data-toggle="tooltip" value="提交修改" class="btn btn-danger"
               style="position: absolute;right: 4%;bottom: 5%;">
    </div><!-- /.panel panel-success -->
</div>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！static/js/wangEditor.min.js-->
<script type="text/javascript" th:src="@{/js/wangEditor.min.js}"></script>
<script type="text/javascript">
    let E = window.wangEditor;
    let editor = new E('#editor-toolbar', '#editor-text');
    editor.customConfig.zIndex = 100;
    // 或者 var editor = new E( document.getElementById('editor') )
    // editor.customConfig.uploadImgServer = '/upload'
    editor.customConfig.uploadImgShowBase64 = true;   // 使用 base64 保存图片
    // 忽略粘贴内容中的图片
    editor.customConfig.pasteIgnoreImg = true;
    // 隐藏“网络图片”tab
    editor.customConfig.showLinkImg = false;
    editor.customConfig.uploadImgMaxSize = 0.5 * 1024 * 1024;//限制大小
    // // 限制一次最多上传 5 张图片
    // editor.customConfig.uploadImgMaxLength = 5
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'italic',  // 斜体
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'image',  // 插入图片
        'undo',  // 撤销
        'redo'  // 重复
    ];
    editor.create();

    //提交修改内容
    $("#submit-btn").on("click", function () {
        if (editor.txt.html().length > 2000000) {
            return alert("内容太多！请减少图片或文字……");
        }
        if (confirm("确认提交?")) {
            $.post("[[@{/back/editNews}]]", {
                id: [[${news.newsId}]],
                content: editor.txt.html(),
                type: $("#news-type").val(),
                status: $("#status").val()
            }, function (data, status) {
                if (status === 'success') {
                    if (data === 'success') {
                        alert("操作成功！");
                        location.reload();
                    } else {
                        alert(data);
                    }
                } else {
                    alert("提交失败！请检查后重试！");
                }
            });
        }
    });
</script>
</body>
</html>