<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403 Forbidden</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/front.css}">
</head>
<body class="error" th:style="|background: url('@{/images/background/403.jpg}') no-repeat center center fixed blue;|">
<!-- 导航栏-->
<nav th:replace="/index :: head"></nav>
<div>
    <h1><i>403 Forbidden</i></h1>
    <br>
    <h2>对不起,您无法访问该内容</h2>
    <h3>没有权限访问此页，服务器收到请求但拒绝提供服务。</h3>
</div>
<h3><a th:href="@{/}">点击此回到首页</a></h3>
</body>
</html>