<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
</head>
<body th:styleappend="|background: url('@{/images/background/404.jpg}') no-repeat fixed center;|">
<!-- 导航栏-->
<nav th:replace="/index :: head"></nav>
<div style="text-align: center;background-size: cover;text-shadow: 5px 5px 5px #F8F8FF;color: #FF4500;height: 85%;">
    <h1><b>404 Not Found</b></h1>
    <hr>
    <div style="display: table;margin: 0 auto;height: 100%;">
        <div class="cell">
            <h2>找不到网页！</h2>
            <h3><em>查询的网页可能已经移除、重新命名或者暂时无法使用...</em></h3>
            <h4><a style="background-color: white;" th:href="@{/}">点击此回到首页</a></h4>
        </div>
    </div>
</div>
</body>
</html>