<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.mapper.AcItemsMapper">
    <select id="selectAll" resultType="acItems">
        select *
        from ac_items
        where status = 1
    </select>
    <select id="selectByPage" resultType="acItems">
        select *
        from ac_items
        where status = 1
        limit #{pageStart},#{pageSize}
    </select>
    <select id="selectCount" resultType="long">
        select count(*)
        from ac_items
        where status = 1
    </select>
    <select id="selectByParam" resultType="acItems">
        select * from ac_items
        <where>
            status=1
            and ${field} like #{word}
            <bind name="word" value="'%'+word+'%'"/>
        </where>
    </select>
    <select id="selectByKey" resultType="acItems">
        select * from ac_items
        <where>
            status=1
            and concat(name,author) like #{keyword}
            <bind name="keyword" value="'%'+keyword+'%'"/>
        </where>
    </select>
    <select id="selectByParams" resultType="acItems">
        select * from ac_items
        <where>
            status=1
            and ${field} LIKE #{word}
            <bind name="word" value="'%'+word+'%'"/>
        </where>
        <if test="seq!=null">
            ORDER BY ${field} ${seq}
        </if>
        <if test="size!=0">
            limit #{start},#{size}
        </if>
    </select>
    <select id="sort" resultType="acItems">
        SELECT * FROM ac_items
        LEFT JOIN (select ac_id,count(*) count FROM mark GROUP BY ac_id) c
        ON id=ac_id
        WHERE `status`=1
        <if test="category!=null and category!=''">
            AND category = #{category}
        </if>
        ORDER BY `count` DESC,rating DESC
        <if test="size!=0">
            limit #{start},#{size}
        </if>
    </select>
    <select id="selectById" resultType="acItems" parameterType="Integer">
        select *
        from ac_items
        where id = #{id}
          and status = 1
    </select>
    <select id="selectLastItem" resultType="acItems">
        select *
        from ac_items
        order by id DESC
        limit 1
    </select>
    <select id="selectLastName" resultType="acItems">
        select *
        from ac_items
        where status = 1
          and name = #{word}
        order by id DESC
        limit 1
    </select>
    <select id="selectByNames" resultType="acItems">
        SELECT * FROM ac_items
        WHERE status=1
        AND `name`=#{name}
        AND `year`=#{year}
        AND `author`=#{author}
        AND `category`=#{category}
    </select>
    <insert id="insertAcItem" parameterType="acItems">
        insert into ac_items(name, info, author, year, category, image)
        values (#{name}, #{info}, #{author}, #{year}, #{category}, #{image})
    </insert>
    <update id="updateById" parameterType="acItems">
        update ac_items
        SET name=#{name},author=#{author},year=#{year},info=#{info},image=#{image},
            category=#{category},country=#{country}
        where id = #{id}
    </update>
    <update id="updateStatus" parameterType="int">
        update ac_items
        set status=#{status}
        <if test="status=0">
            ,image=''
        </if>
        where id = #{id}
    </update>
    <update id="updateRating">
        update ac_items
        SET rating=#{rating}
        WHERE id = #{acId}
    </update>
</mapper>