<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.mapper.TalkMapper">
    <resultMap id="talkMap" type="Talk">
        <id column="tid" property="tid"/>
        <result column="uid" property="uid"/>
        <association property="user" select="com.zhao.mapper.UserMapper.selectById" column="uid"/>
    </resultMap>
    <resultMap id="talkAndUser" type="talk">
        <id column="tid" property="tid"/>
        <result property="uid" column="t_uid"/>
        <result property="status" column="t_status"/>
        <result property="content" column="content"/>
        <result property="pictures" column="pictures"/>
        <result property="time" column="time"/>
        <result property="topic" column="topic"/>
        <association property="user" javaType="User">
            <id column="u_uid" property="uid"/>
            <result column="username" property="username"/>
            <result column="photo" property="photo"/>
        </association>
    </resultMap>
    <resultMap id="myTalk" type="Talk">
        <id column="tid" property="tid"/>
        <id column="ac_id" property="acId"/>
        <association property="ac" column="ac_id"/>
    </resultMap>
    <insert id="insertTalk" parameterType="Talk">
        INSERT INTO talk (uid,content,pictures,time,topic)
        VALUES (#{uid},#{content},#{pictures},#{time},#{topic})
    </insert>
    <select id="countTalk" resultType="long">
        SELECT COUNT(*) FROM talk
        WHERE `status`>=#{0}
    </select>
    <select id="selectAll" resultMap="talkMap">
        SELECT * FROM talk
        WHERE status<![CDATA[<=]]>#{status}
        ORDER BY
        <if test="orderField != null and orderField != '' and orderType != null and orderType != ''">
            ${orderField} ${orderType}
        </if>
    </select>
    <select id="selectByPage" resultType="talk">
        SELECT * FROM talk LEFT JOIN
        (SELECT to_id,COUNT(*) AS countComplaint FROM complaint GROUP BY to_id) c
        on tid=to_id
        WHERE status<![CDATA[<=]]>#{status}
        <if test="orderField != null and orderField != '' and orderType != null and orderType != ''">
            ORDER BY ${orderField} ${orderType}
        </if>
        LIMIT #{pStart},#{pSize}
    </select>
    <select id="selectByUid" resultType="talk">
        SELECT * FROM talk
        WHERE uid=#{uid}
        <if test="orderField != null and orderField != '' and orderType != null and orderType != ''">
            ORDER BY ${orderField} ${orderType}
        </if>
    </select>
    <select id="selectOne" resultMap="talkMap">
        SELECT * FROM talk
        <where>
            <if test="tid!=null">
                tid=#{tid}
            </if>
        </where>
        ORDER BY `time` DESC
    </select>
    <select id="selectByParams" resultMap="talkAndUser">
        SELECT `tid`,t.`uid` t_uid,content,`pictures`,`time`,`topic`,t.`status` t_status,u.`uid`
        u_uid,`username`,`photo`
        FROM `talk` t
        LEFT JOIN `user` u
        ON t.uid=u.uid
        <where>
            t.`status`<![CDATA[<=]]>#{status}
            <choose>
                <when test="field!=null and field!='' and field!='all'">
                    AND ${field} LIKE #{keyword}
                    <bind name="keyword" value="'%'+keyword+'%'"/>
                </when>
                <otherwise>
                    AND CONCAT(`content`,`topic`,`username`) LIKE #{keyword}
                    <bind name="keyword" value="'%'+keyword+'%'"/>
                </otherwise>
            </choose>
        </where>
        <if test="orderField != null and orderField != ''">
            <choose>
                <when test="orderField=='topic'">
                    ORDER BY CONVERT(${orderField} USING gbk) COLLATE gbk_chinese_ci ${orderType}
                </when>
                <otherwise>
                    ORDER BY ${orderField} ${orderType}
                </otherwise>
            </choose>
        </if>
        <if test="pSize!=null and pSize!=0">
            LIMIT #{pStart},#{pSize}
        </if>
    </select>
    <delete id="deleteById" parameterType="int">
        DELETE FROM talk
        WHERE tid=#{0}
    </delete>
    <update id="updateStatus">
        UPDATE talk SET status=#{status}
        WHERE tid=#{tid}
    </update>
</mapper>