<!DOCTYPE html >
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${ac.name}"></title>
    <link th:replace="/index :: icon"/>
</head>
<body class="container">
<!-- 导航栏-->
<nav th:replace="/index :: head"></nav>
<a href="#top" class="goTop"><img th:src="@{/images/icon/top.gif}" alt="图标"></a>
<div class="col-md-12" id="main-div" style="height: 100%;overflow: auto;">
    <a id="top"></a>
    <!--主要信息-->
    <div class="panel panel-info">
        <div class="title-div panel-heading">
            <h4><b><span th:text="${ac.name}"></span></b></h4>
        </div>
        <div class="panel-body">
            <!--详情-->
            <div class="col-md-6 detail-div">
                <div class="img-div-3 back-snow text-center">
                    <img th:src="@{${#strings.isEmpty(ac.image)?'/images/none.png':'/images/cover/'+ac.image}}"
                         class="img-rounded img-thumbnail" alt="封面/海报">
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <b>类别:</b>
                        <a th:href="@{'/ac/'+${ac.category}}" th:text="${ac.category=='anime'?'动画':'漫画'}"></a>
                    </li>
                    <li class="list-group-item"><b th:text="${ac.category}=='comic'?'作者:':'导演:'"></b>
                        <span th:each="a : ${ac.author.split(';')}">
                    <a th:href="@{'/search?s='+${a}+'&conditions=author'}" th:text="${a}"></a>　
                </span>
                    </li>
                    <li class="list-group-item"><b>时间:</b>
                        <a th:href="@{'/search?s='+${ac.year}+'&conditions=year'}" th:text="${ac.year}"></a>
                    </li>
                    <li class="list-group-item"><b>地域:</b>
                        <a th:href="@{'/search?s='+${ac.country}+'&conditions=country'}" th:text="${ac.country}"></a>
                    </li>
                    <li class="list-group-item"><b>标签:</b><i th:text="${ac.category}"><!--(例:少年漫画)--></i></li>
                    <input type="button" class="btn btn-default btn-block" value="更多">
                </ul>
            </div>
            <!--简介-->
            <div class="col-md-6 info-div back-gray">
                <p th:if="${#strings.isEmpty(ac.info)}">暂无简介……<a href="#"><em>添加简介？</em></a></p>
                <p class="p" th:if="!${#strings.isEmpty(ac.info)}" th:text="${ac.info}"></p>
                <!--                <p style="text-align: center"><a href="#"><i>信息有误? 报错！</i> </a></p>-->
            </div>
            <!--链接-->
            <div class="col-md-6 link-div">
                <h6 class="text-center">相关链接</h6>
                <a class="pull-right" target="_blank" th:href="@{'https://www.baidu.com/s?wd='+${ac.name}}">
                    更多…
                </a>
            </div>
            <!--    收藏和评分-->
            <div class="col-md-6 mark-div">
                <div class="rating-div">
                    <div class="rating-star-div">
                        <div class="cell">
                            <h1 th:text="${(ac.rating<=0)?'暂无':ac.rating}"></h1>
                            <span class="star" th:text="${ac.star(ac.rating)}"></span><br>
                            <i><span th:text="${userNum}"></span>人评价</i>
                        </div>
                    </div>
                    <div class="rating-chart-div">
                        条形图
                    </div>
                </div>
                <div class="my-mark-div">
                    <div class="cell">
                        <a th:if="${session.currentUser}==null" th:href="@{/login}">登录可收藏该作品</a>
                        <button th:if="${session.currentUser!=null&&myMark==null}" class="btn btn-danger btn-block" onclick="addMark()">
                            <span class="glyphicon glyphicon-plus"></span>
                            添加收藏<b style="color: red;"></b>
                        </button>
                        <div th:if="${myMark!=null}" style='width: 33%;float: left;' title='修改评分'>
                            <button class="btn btn-success btn-block" onclick='editMark()'>我的评价:
                                <span th:text="${ac.star(myMark.rating)}"></span>
                            </button>
                        </div>
                        <div th:if="${myMark!=null}" style='width: 34%;float:left;' title='修改'>
                            <button class="btn btn-primary btn-block" onclick='editMark()'>我的吐槽:
                                <span>查看</span>
                            </button>
                        </div>
                        <div th:if="${myMark!=null}" style='width: 33%;float:right;' title='修改进度'>
                            <button class="btn btn-warning btn-block" onclick='editMark()'>我的进度:
                                <span th:text="${myMark.pro[myMark.progress]}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--按钮-->
            <div class="col-md-6 comment-btn-div">
                <button type="button" class="btn btn-info btn-block" id="comment-btn">
                    <span class="glyphicon glyphicon-thumbs-up"></span> 看看大家的吐槽
                    <span class="glyphicon glyphicon-thumbs-down"></span></button>
            </div>
        </div>
    </div>
    <!--评论区-->
    <a id="comments"></a>
    <div class="col-md-12" th:classappend="${comment.size()>0?'back-yellow':'no-found'}">
        <div class='well well-sm col-md-4' th:each="c : ${comment}">
            <a th:href="@{'/u'+${c.user.uid}+'/mark'}">
                <span class='badge badge-info' th:text="${c.user.username}"></span>
                <span style="color: red" th:text="${ac.star(c.rating)}"></span>
                <small>
                    <span style="color: blue;" th:text="${'['+c.pro[c.progress]+']'}"></span>
                </small>
            </a><br>
            <small>
                <span th:text="${c.comment}"></span>
                <i class="pull-right" th:text="${#dates.format(c.createDate,'yyyy年MM月dd日HH:mm:ss')}"></i>
            </small>
        </div>
        <div style="width: 100%;border-style: ridge;" th:if="${comment.size()<12&&comment.size()>0}">
            <img style="width: 33%;" class='pull-right' th:src="@{/images/character/Kanna.gif}" alt='评论太少'>
        </div>
    </div>
    <!--评论分页-->
    <div class="col-md-12 comment-div-bottom">
        <div class="cell">
            <button type="button" class="btn btn-primary left-btn" onclick="location.reload();">
                <span class="glyphicon glyphicon-repeat"></span>刷新
            </button>
            <input type="button" class="btn btn-default right-btn" value="更多">
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade col-md-12m" id="myModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <!--评分评论表单-->
                <form class="form-horizontal mark-form" role="form" id="mark-form">
                    <input type="hidden" name="acId" th:value="${ac.id}">
                    <div class="form-group">
                        <label class="control-label col-md-2">进度</label>
                        <div id="progress" class="col-md-10">
                            <label class="radio-inline">
                                <input type="radio" name="progress" id="wish" value=1>想看
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="progress" id="do" value=2>在看
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="progress" id="collect" value=3>看过
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="progress" id="on_hold" value=4>搁置
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="progress" id="dropped" value=5>已弃
                            </label>
                        </div>
                    </div>
                    <div class="from-group rating-star">
                        <label for="rating" class="control-label col-md-2">评分</label>
                        <input type="hidden" name="rating" id="rating">
                        <div class="col-md-10 rating" id="star">
                            <a href="javascript:rating(1)"><img th:src="@{/images/star-empty.gif}" alt="1"></a>
                            <a href="javascript:rating(2)"><img th:src="@{/images/star-empty.gif}" alt="2"></a>
                            <a href="javascript:rating(3)"><img th:src="@{/images/star-empty.gif}" alt="3"></a>
                            <a href="javascript:rating(4)"><img th:src="@{/images/star-empty.gif}" alt="4"></a>
                            <a href="javascript:rating(5)"><img th:src="@{/images/star-empty.gif}" alt="5"></a>
                            <b id="rating-star"></b>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment" class="control-label col-md-2">吐槽</label>
                        <textarea id="comment" name="comment" rows="5" class="col-md-10"></textarea>
                    </div>
                    <hr>
                    <div>
                        <button type="button" class="btn btn-primary submit">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="float: right;">关闭
                        </button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
<script type="text/javascript">
    $(document).on("ready", function () {
        $(".submit").on("click", function () {
            $("#myModal").modal('hide');
            $.post('[[@{/mark}]]', $("#mark-form").serialize(),
                function (data, status) {
                    if (status === 'success') {
                        alert(data);
                        location.reload();
                    }
                });
        });
        $("#comment-btn").on("click", function () {
            $('#main-div').animate({scrollTop: $('#comments').offset().top}, 0);
        });
    });

    const $rating = $("#rating");
    const $star=$("#star");
    function rating(num) {
        $rating.val(num);
        $star.find("img").attr("src","[[@{/images/star-empty.gif}]]");
        for (let i = 0; i < num; i++) {
            $star.find("img[alt="+(i+1)+"]").attr("src","[[@{/images/star-full.gif}]]");
        }
        $("#rating-star").html(ratingArr[num]);
    }

    //添加收藏
    function addMark() {
        $("#progress").find(":radio").removeAttr("checked");
        rating(0);
        $("#comment").val("");
        $("#myModalLabel").html("加入收藏");
        $("#myModal").modal();
    }

    //编辑收藏信息
    function editMark() {
        $.post("[[@{/myMark}]]", {acId: [[${ac.id}]]},
            function (data, status) {
                if (status === "success") {
                    $("#progress").find("input[value=" + data.myMark.progress + "]").attr("checked", "true");
                    rating(data.myMark.rating);
                    $("#comment").val(data.myMark.comment);
                    $("#myModalLabel").html("修改");
                    $("#myModal").modal();
                } else {
                    alert("系统繁忙,请重试!");
                }
            });
    }

    if ('1' === '2') {
        addMark();
        editMark();
    }
</script>
</body>
</html>
