<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link th:replace="/index :: icon"/>
</head>
<body style="padding-top: 100px">
<!-- 导航栏-->
<nav th:replace="/index :: head"></nav>
<div class=" col-md-offset-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center;">登录</h3>
        </div>
        <div class="alert alert-danger text-center" th:if="${!#strings.isEmpty(error)}">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>登录失败！</strong><span th:text="${error}"></span>
        </div>
        <form class="form-horizontal panel-body" role="form" th:action="@{/doLogin}" method="post" id="login-form">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group" th:if="${fakeinfo!=null}">
                <label for="validCode" class="col-sm-2 control-label">验证码</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="validCode" name="validCode" placeholder="请输入验证码">
                </div>
                <img class="col-sm-3" th:src="@{/images/none.png}" alt="验证码" style="height: 50px">
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label col-sm-offset-1 col-sm-5">
                        <input type="checkbox" class="form-check-input" name="remember">7天内免登录
                    </label>
                </div>
                <div class="col-sm-4">
                    <a th:href="@{/register}">
                        <button type="button" class="btn btn-link">没有账号？注册新账号</button>
                    </a>
                </div>
            </div>
        </form>
        <div class="panel-footer">
            <button id="submit" type="submit" class="btn btn-default btn-block" form="login-form">
                登录
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    // $("#submit").click(function () {
    //     $("#login-form").submit();
    // });
</script>
</body>
</html>