<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>话题讨论</title>
    <link th:replace="/index :: icon"/>
    <style type="text/css">
        textarea {
            resize: none;
            width: 100%;
        }

        .topic {
            width: 100%;
        }

        .topic-input {
            float: right;
            width: 50%;
            text-align: center;
            display: table;
            margin: 0 auto;
        }

        .prev-div {
            text-align: center;
            /*border-style: dashed;*/
            width: 100%;
            height: 150px;
        }

        .prev-img-div {
            border-style: double;
            border-color: #0000FF;
            background-color: #F5FFFA;
            width: 32%;
            height: 150px;
            float: left;
            margin-left: 1%;
            margin-bottom: 5px;
            position: relative;
        }

        .img-div {
            text-align: center;
            width: 32%;
            height: 150px;
            float: left;
            margin-left: 1%;
            margin-bottom: 5px;
            position: relative;
        }

        .div-img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }

        .del-img-btn {
            width: 40%;
            float: top;
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>
</head>
<body>
<!-- 导航栏-->
<nav th:replace="/index :: head"></nav>
<div class="col-md-3" style="position: fixed;">左</div>
<div class="col-md-offset-3 col-md-6" style="overflow: auto;height: 100%;">
    <div class="panel panel-danger" style="width: 100%">
        <div class="panel-heading">
            <h3 class="panel-title">发表动态</h3>
        </div>
        <div class="panel-body" style="text-align: center;" shiro:guest>
            <a th:href="@{/login}"><em>登录后才可发布动态……</em></a>
        </div>
        <form id="my-form" method="post" enctype="multipart/form-data" shiro:user>
            <div class="panel-body" style="width: 100%">
                <div class="topic"></div>
                <div class="topic-input">
                    <div class="input-group">
                        <label for="talk-topic-text"></label>
                        <input type="text" class="form-control" id="talk-topic-text">
                        <span class="input-group-btn">
                            <button class="btn btn-default add-topic" type="button">添加话题</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <label for="talk-content"></label>
                <textarea id="talk-content" name="content" rows="8" maxlength="500" placeholder="请输入……"></textarea>
                <div style="width: 100%;text-align: center;">
                    <button id="pic-add-btn" type="button" style="float:left;" onclick="openDiv(this)"
                            data-toggle="tooltip" title="添加图片">
                        <span class="glyphicon glyphicon-picture"></span>
                    </button>
                    还可以输入<span class="badge" id="word-num">300</span>字
                    <!--, 还可以添加<span class="badge" id="topic-num">5</span>个话题-->
                    <button id="submit-btn" type="button" style="float:right;">发布</button>
                </div>
            </div>
            <div class="prev-div" hidden></div>
        </form>
    </div>
    <div class="panel" th:each="list :${talksList}" th:classappend="${(session.currentUser!=null)&&(list.user.uid==session.currentUser.uid)}?
         'panel-success':'panel-warning'">
        <div class="panel-heading" style="width: 100%">
            <img class="img-circle headImg"
                 th:src="@{${#strings.isEmpty(list.user.photo)?'/images/no-one.jpg':'/images/avatar/'+list.user.photo}}"
                 alt="用户头像">
            <a th:href="@{'/u'+${list.user.uid}+'/talk'}" class="panel-title" th:text="${list.user.username}"></a>
            <div class="pull-right">
                <b>发表于:</b>[[${#dates.format(list.time,'yyy年MM月dd日HH:mm:ss')}]]
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">分享</a></li>
                        <li class="divider"></li>
                        <li><a target="_blank" th:href="@{'/topic/t'+${list.tid}}">更多</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body" style="width: 100%">
            <span class="p"><a th:href="@{'/topic?search=%23'+${t}+'%23'}" th:each="t : ${list.topicArr}">&nbsp;#[[${t}]]#&nbsp;</a></span>
            <p class="p" th:text="${list.content}"></p>
            <div>
                <div th:each="pic : ${list.pictureArr}" class="img-div">
                    <img th:src="@{'/topic/'+${list.user.uid}+${pic}}" class="div-img" alt="配图">
                </div>
            </div>
        </div>
        <div class="panel-footer" style="width: 100%">
            <a th:href="@{'/topic/t'+${list.tid}}" target="_blank">
                <button class="btn btn-default btn-block">
                    <span class="glyphicon glyphicon-edit"></span>评论
                </button>
            </a>
            <button style="width: 33%;float: right" th:if="${likes!=null}">
                <span class="glyphicon glyphicon-thumbs-up"></span>点赞
            </button>
        </div>
    </div>
</div>
<div class="col-md-offset-9 col-md-3" style="position: fixed;">右</div>
<script type="text/javascript">
    let tNum = 0;
    const maxNum = 6;
    const $talkContent = $("#talk-content");
    let maxlength = $talkContent.attr("maxlength");
    $("#word-num").html(maxlength);

    $talkContent.on("input focus keyup", function () {
        let wordNum = $("#talk-content").val();
        $("#word-num").html(maxlength - wordNum.trim().length);
    });

    function comment(id) {
        window.location.href = "[[@{'/topic/t'}]]" + id;
    }

    //图片上传div
    const newImgDiv = "<a href='javascript:;' class='prev-img-div' onmouseover='showDelBtn(this)' onmouseleave='hideDelBtn(this)'>\n" +
        "    <div hidden><input name='files' type='file' accept='image/*' onchange='changeFile(this)'></div>\n" +
        "    <img class='div-img' title='单击上传' src='[[@{/images/icon/upload.png}]]' onclick='addPic(this)' alt='上传图片'>\n" +
        "    <input type='button' class='del-img-btn btn-danger' onclick='removeE(this.parentElement)' value='删除' hidden>" +
        "</a>";

    function upload() {
        // let test=obj.html;
        // test+=$(obj).html();
        $("#test").val($(this).html());
    }

    function openDiv(obj) {
        let arr = document.getElementsByName("files");
        if (arr.length >= maxNum) {
            alert("最多添加" + maxNum + "张图!");
            return;
        }
        const $prev = $(".prev-div");
        $(obj).html("添加");
        $prev.show();
        let flag = 0;
        for (let i = 0; i < arr.length; i++) {
            if (arr[i].files[0] == null) {
                flag++;
            }
        }
        if (flag >= 1) {
            return alert("有未使用的格子!");
        }
        $prev.prepend(newImgDiv);
        preDivHeight();
    }

    function showDelBtn(obj) {
        $(obj).find("input[type='button']").show();
    }

    function hideDelBtn(obj) {
        $("#test-1").val("鼠标离开");
        $(obj).find("input[type='button']").hide();
    }

    function addPic(obj) {
        let $obj = $(obj);
        $obj.parent();
        $obj.parent().find("input").eq(0).click();
    }

    function changeFile(obj) {
        let file = obj.files;
        if (file[0].type !== 'image/png' && file[0].type !== 'image/jpeg' && file[0].type !== 'image/gif') {
            alert("不支持的格式!");
            $(obj).parents(".prev-img-div").find("img").attr("src", "[[@{/images/icon/upload.png}]]");
            obj.value = "";
            return;
        }
        if (file[0].size > maxSize) {
            alert("图片太大！请不要超过" + sizeStr(maxSize));
            $(obj).parents(".prev-img-div").find("img").attr("src", "[[@{/images/icon/upload.png}]]");
            obj.value = "";
            return;
        }
        $(obj).parents(".prev-img-div").find("img").attr("src", getObjectURL(file[0]));
    }

    function preDivHeight() {
        let arr = document.getElementsByName("files");
        if (arr.length <= 0) {
            $(".prev-div").height(1);
            $("#pic-add-btn").html("<span class='glyphicon glyphicon-picture'></span>");
        }
        if (arr.length > 0 && arr.length <= 3) {
            $(".prev-div").height(150);
        }
        if (arr.length > 3) {
            $(".prev-div").height(300);
        }
    }

    function checkArr(arr, text) {
        for (let i = 0; i < arr.length; i++) {
            if (arr[i].value === text) {
                return false;
            }
        }
        return true;
    }

    $(".add-topic").on("click", function () {
        const $topicInput = $("#talk-topic-text");
        let text = $topicInput.val();
        $topicInput.val('');
        let arr = document.getElementsByName("topic");
        if (arr.length >= 5) {
            alert("太多了！！");
            return;
        }
        if (text === '') {
            alert("不能为空！");
            return;
        }
        if (!checkArr(arr, text)) {
            alert("重复了！");
            return;
        }
        const $topic = $(".topic");
        let html = $topic.html();
        html += "<input style='margin-right: 10px;' name='topic' type='button' value='" + text + "' " +
            " onclick='removeE(this)'>";
        tNum++;
        $topic.html(html);
        $topicInput.focus();
    });

    $("#submit-btn").on("click", function () {
        if ($("#talk-content").val() === '') {
            alert("内容不能为空！");
            return false;
        }
        let formData = new FormData($("#my-form")[0]);
        let arr = document.getElementsByName("topic");
        formData.append("topicStr", strArrE(arr));
        $.ajax({
            async: false,
            type: "post",
            url: "[[@{/topic/submit}]]",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, status) {
                if (status === 'success') {
                    if (data === 'success') {
                        window.location.href = "[[@{/topic}]]";
                        return alert("发送成功!");
                    } else {
                        return alert(data);
                    }
                } else {
                    alert("系统繁忙,请重试!");
                }
            },
            error: function (xhr, status, error) {
                alert(xhr.status + "," + status + "," + error + "系统繁忙,请重试!!")
            }
        });
    });

    function removeE(obj) {
        obj.remove();
        preDivHeight();
    }

    $(document).on("ready",function () {
        if ('[[${message}]]' !== "") {
            alert('[[${message}]]');
            window.location.href = "[[@{/topic}]]";
        }
    });
</script>
</body>
</html>