<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>搜索动漫</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <th width="50px">序号</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <tr th:each="ac,n : ${list}">
        <td th:text="${n.index+1}"></td>
        <td>
            <img style="width: 200px"
                 th:src="@{${#strings.isEmpty(ac.image)}?'/images/none.png':'/images/cover/'+${ac.image}}" alt="暂无封面">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>