<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>话题讨论</title>
    <style type="text/css">
        div {
            /*border-style: dotted;*/
        }

        textarea {
            resize: none;
            width: 100%;
        }

        .topic {
            width: 100%;
        }

        .topic-input {
            float: right;
            width: 50%;
            text-align: center;
            display: table;
            margin: 0 auto;
        }

        .prev-div{
            text-align: center;
            /*border-style: dashed;*/
            width: 100%;
        }
        .prev-div-height{
            height: 150px;
        }

        .prev-img-div{
            border-style: double;
            border-color: #0000FF;
            background-color: #F5FFFA;
            width: 33%;
            height: 150px;
            float: left;
            margin-bottom: 5px;
        }

        .pre-img-div img{
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }
    </style>
</head>
<body>
<!-- 导航栏-->
<nav th:replace="/index :: head"></nav>
<div class="col-md-3">左
    <p id="test" placeholder="测试用的" style="height: 600px;" readonly></p>
</div>
<div class="col-md-6">
    <div class="panel panel-danger" style="width: 100%" shiro:user>
        <div class="panel-heading">
            <h3 class="panel-title">发表动态</h3>
        </div>
        <form id="my-form" th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <div class="panel-body" style="width: 100%">
            <div class="topic"></div>
            <div class="topic-input">
                <div class="input-group">
                    <input type="text" class="form-control" id="talk-topic-text">
                    <span class="input-group-btn">
                        <button class="btn btn-default add-topic" type="button">添加话题</button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <textarea id="talk-content" name="content" rows="5" maxlength="200" placeholder="请输入……(200字以内)"></textarea>
            <button type="button" style="float:left;" onclick="upload()"
                    data-toggle="tooltip" title="添加图片">
                <span class="glyphicon glyphicon-picture"></span>
            </button>
            <div hidden>
                <input type="file" id="talk-img-input" name="file">
            </div>
            <button id="submit-btn" type="button" style="float:right;">发布</button>
        </div>
        <a id="21">
        <div class="prev-div" οncοntextmenu="return false;" onselectstart="return false"></div></a>
        </form>
    </div>
</div>
<div class="col-md-3">右
    <input id="test-file" type="file" >
    <textarea id="test-1" style="width: 100%;height: 500px;"></textarea>
</div>
<script type="text/javascript">
    let tNum = 0;
    const maxSize=2*1024*1024;
    const maxNum=6;

    function upload() {
        let arr=document.getElementsByName("img");
        if(arr.length>=maxNum){
            alert("最多添加"+maxNum+"张图!");
            return;
        }
        $("#talk-img-input").click();
    }

    $("#talk-img-input").change(function () {
        let img=document.getElementById("talk-img-input").files;
        let imgInput=document.getElementById("talk-img-input");
        if(img[0].type != 'image/png' && img[0].type != 'image/jpeg' && img[0].type != 'image/gif'){
            return alert("图片上传格式不正确");
        }
        if(img[0].size>maxSize){
            return alert("图片太大！请不要超过"+sizeStr(maxSize));
        }
        let pic=document.getElementById("talk-img-input").value;
        let newHtml="";
        let oldHtml=$(".prev-div").html();
        newHtml+="<div class='prev-img-div' title='双击删除' ondblclick='removeE(this)'>";
        newHtml+='<div hidden><input name="files" type="file"></div>';
        newHtml+="<img name='img' src='"+getObjectURL(img[0])+"'>";
        newHtml+="</div>\n";
        newHtml+=oldHtml;
        $(".prev-div").html(newHtml);
        // let test=$("#test").html();
        // test+=img[0]+"<br>";
        // test+=img[0].name+";";
        // test+=sizeStr(img[0].size)+";";
        // test+="<br>";
        // $("#test").html(test);
        let html=$("#test-1").html();
        let new1="\n";
        $("#test-1").html(new1+html);
        // document.getElementById("talk-img-input").value=null;
        preDivHeight();
    });

    function preDivHeight() {
        let arr=document.getElementsByName("img");
        if(arr.length<=0){
            $(".prev-div").height(1);
        }
        if(arr.length>0&&arr.length<=3){
            $(".prev-div").height(150);
        }
        if(arr.length>3){
            $(".prev-div").height(300);
        }
    }

    function checkArr(arr,text) {
        for (let i = 0; i < arr.length; i++) {
            if (arr[i].value == text) {
                return false;
            }
        }
        return true;
    }

    $(".add-topic").click(function () {
        let text = $("#talk-topic-text").val();
        $("#talk-topic-text").val('');
        let arr = document.getElementsByName("topic");
        if (arr.length >= 5) {
            alert("太多了！！");
            return;
        }
        if (text == '') {
            alert("不能为空！");
            return;
        }
        if (!checkArr(arr,text)) {
            alert("重复了！");
            return;
        }
        let html = $(".topic").html();
        html += "<input style='margin-right: 10px;' name='topic' type='button' value='" + text + "' " +
            " onclick='removeE(this)'>";
        tNum++;
        $(".topic").html(html);
        $("#talk-topic-text").focus();
    });

    $("#submit-btn").click(function () {
        let arr = document.getElementsByName("topic");
        let file=document.getElementById("test-file").files;
        if($("#talk-content").val()==''){
            alert("内容不能为空！");
            return false;
        }
        $("#my-form").submit();
        // $.post("/topic/submit", {
        //     file:file[0],
        //     topicStr: strArr(arr),
        //     content: $("#talk-content").val()
        // }, function (data, status) {
        //     if (status == 'success') {
        //         alert(data + status);
        //         window.location.href='[[@{/topic}]]';
        //     } else {
        //         alert(status);
        //     }
        // });
    });

    function strArr(arr) {
        let str = "";
        for (let i = 0; i < arr.length; i++) {
            str += arr[i].value;
            if (i != arr.length - 1) {
                str += ",";
            }
        }
        return str;
    }

    function removeE(obj) {
        obj.remove();
        preDivHeight();
    }

    function sizeStr(num) {
        if(num>(1024*1024)){
            return Math.round(num/(1024*1024)*10)/10+"M";
        }
        if(num>1024){
            return Math.round(num/1024*10)/10+"K";
        }
        return Math.round(num*10)/10+"B";
    }

    function getObjectURL(file) {
        let url = null ;
        if (window.createObjectURL!=undefined) { // basic
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }
</script>
</body>
</html>