<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${list!=null}" th:text="${' '+keyword+' 的搜索结果'}"></title>
    <title th:if="${list==null}">动态搜索</title>
    <link th:replace="/index :: icon"/>
</head>
<body>
<!-- 导航栏-->
<nav th:replace="/index :: head"></nav>
<div class="col-md-offset-3 col-md-6">
    <div class="panel panel-danger">
        <form role="form" th:action="@{'/topic'}" method="get" id="main-form"
              class="bs-example bs-example-form panel-heading text-center">
            <div class="input-group col-md-offset-2 col-md-9">
                <label for="search"></label>
                <input type="text" class="form-control" id="search" name="search" placeholder="按回车搜索"
                       autofocus th:value="${keyword}">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">搜索动态
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                        <span class="caret"></span>
                        <span class="sr-only">切换下拉菜单</span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a th:href="@{/search}">搜索动漫</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">搜索资讯</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">搜索用户</a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
            </div><!-- /input-group -->
            <button id="more" type="button" class="btn btn-link btn-sm" th:text="${more.open}"></button>
            <div name="more" class="back-snow form-group" th:hidden="${conditions==null||#strings.isEmpty(conditions)}">
                <h5 class="back-purple">按条件搜索</h5>
                <label class="radio-inline">
                    <input type="radio" name="conditions" th:checked="${conditions eq 'topic'}" value="topic">话题
                </label>
                <label class="radio-inline">
                    <input type="radio" name="conditions" th:checked="${conditions eq 'content'}" value="content">内容
                </label>
                <label class="radio-inline">
                    <input type="radio" name="conditions" th:checked="${conditions eq 'username'}" value="username">用户
                </label><br>
                <button id="clean-conditions" type="submit" class="btn btn-link btn-sm">清空条件
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="submit" class="btn btn-link btn-sm">确认
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
            <div name="more" class="back-white form-group" th:hidden="${sort==null||#strings.isEmpty(sort)}">
                <h5 class="back-rose">按条件排序</h5>
                <label class="radio-inline">
                    <input type="radio" name="sort" th:checked="${sort eq 'time'}" value="time">时间
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sort" th:checked="${sort eq 'username'}" value="username">用户
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sort" th:checked="${sort eq 'topic'}" value="topic">话题
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sort" th:checked="${sort eq 'comments'}" value="comments">评论数
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sort" th:checked="${sort eq 'likes'}" value="likes">点赞
                </label><br>
                <button id="clean-sort" type="submit" class="btn btn-link btn-sm">还原默认
                    <span class="glyphicon glyphicon-repeat"></span>
                </button>
                <button id="sort" type="submit" class="btn btn-link btn-sm">确认
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
        </form>
        <div class="alert alert-info text-center" th:if="${list==null}">
            输入关键词进行搜索
        </div>
        <div class="alert alert-warning text-center panel-body" th:if="${list!=null&&#lists.isEmpty(list)}">
            没有结果……换关键词试试。
        </div>
        <div class="alert alert-info text-center" th:unless="${#lists.isEmpty(list)}">
            找到<span class="badge" th:text="${list.size()}"></span>条记录。
        </div>
        <div class="panel" th:unless="${#lists.isEmpty(list)}" th:each="list : ${list}"
             th:classappend="${(session.currentUser!=null)&&(list.user.uid==session.currentUser.uid)}?'panel-success':'panel-warning'">
            <div class="panel-heading" style="width: 100%">
                <img class="img-circle headImg" alt="用户头像"
                     th:src="@{'/images/'+${#strings.isEmpty(list.user.photo)?'no-one.jpg':'avatar/'+list.user.photo}}">
                <a th:href="@{'/u'+${list.user.uid}+'/talk'}" class="panel-title" th:text="${list.user.username}"></a>
                <div class="pull-right">
                    <b>发表于:</b><a th:href="@{'/topic/t'+${list.tid}}" th:text="${#dates.format(list.time,'yyy年MM月dd日HH:mm:ss')}"></a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">分享</a></li>
                            <li class="divider"></li>
                            <li><a target="_blank" th:href="@{'/topic/t'+${list.tid}}">更多</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="width: 100%">
                <p class="p"><a th:href="@{'topic?search=%23'+${t}+'%23'}" th:each="t : ${list.topicArr}">&nbsp;#[[${t}]]#&nbsp;</a></p>
                <p class="p" th:text="${list.content}"></p>
                <div>
                    <div th:each="pic : ${list.pictureArr}" class="img-div">
                        <img th:src="@{'/topic/'+${list.user.uid}+${pic}}" class="div-img" alt="配图">
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="width: 100%">
                <a th:href="@{'/topic/t'+${list.tid}}" target="_blank">
                    <button style="width: 33%">
                        <span class="glyphicon glyphicon-edit"></span>评论
                    </button>
                </a>
                <button style="width: 33%;float: right">
                    <span class="glyphicon glyphicon-thumbs-up"></span>点赞
                </button>
            </div>
        </div>
    </div>
</div>
<a href="#" class="bottom-right" th:fragment="top">
    <img alt="Top" th:src="@{/images/character/LuoTianyi.gif}" title="回到顶部">
</a>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $("#search").select();
        $("#main-form").on("submit", function () {
            if ($("#search").val() === '') {
                alert("不能为空!");
                return false;
            }
            return true;
        });
        $("#clean-conditions").click(function () {
            $("input[name='conditions']").removeAttr("checked");
        });
        $("#clean-sort").click(function () {
            $("input[name='sort']").removeAttr("checked");
        });
        let flag = $("div[name='more'][hidden]").length;
        $("#text").val(flag);
        const $more = $("#more");
        if (flag < 1) {
            $more.text("[[${more.close}]]");
        }
        $more.click(function () {
            if ($(this).text() === '[[${more.open}]]') {
                $("div[name='more']").show();
                $(this).text('[[${more.close}]]');
            } else {
                $("div[name='more']").hide();
                $(this).text('[[${more.open}]]');
            }
        })
    });
</script>
</html>