<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${map.user.username+'的主页'}"></title>
    <link th:replace="/index :: icon"/>
    <style type="text/css">
        .left-div {
            border-right-color: #0000CD;
            border-right-style: double;
            height: 100%;
            text-align: center;
        }

        div {
            /*border-style: groove;*/
        }
    </style>
</head>
<body>
<!-- 导航栏-->
<nav th:replace="/index :: head"></nav>
<div class="col-md-2 left-div" style="position: fixed;">
    <div class="img-div-1">
        <img alt="头像" class="img-rounded img-thumbnail" th:src="@{'/images/avatar/'+
        ${#strings.isEmpty(map.user.photo)?'none.jpg':map.user.photo}}">
    </div>
    <div style="background-color: white;text-align: center;">
        <span style="color: red;margin-left: 10px" th:each="r : ${map.roles}" th:text="${r}"></span>
    </div>
    <h4 th:style="${'color:'+(#lists.isEmpty(map.roles)?'blue':'red')}" th:text="${map.user.username}"></h4>
    UID：<span class="badge" th:text="${map.user.uid}"></span>
    <ul class="nav nav-pills nav-stacked">
        <li id="info-li">
            <a th:href="@{'/u'+${map.user.uid}+'/info'}">
                <span class="glyphicon glyphicon-align-left"></span>
                <span th:text="${(session.currentUser!=null&&map.user.uid==session.currentUser.uid)?'我':'TA'}"></span>的信息
            </a>
        </li>
        <li id="talk-li">
            <a th:href="@{'/u'+${map.user.uid}+'/talk'}">
                <span class="glyphicon glyphicon-tree-deciduous"></span>
                <span th:text="${session.currentUser!=null&&map.user.uid==session.currentUser.uid?'我':'TA'}"></span>的动态
            </a>
        </li>
        <li id="mark-li">
            <a th:href="@{'/u'+${map.user.uid}+'/mark'}">
                <span class="glyphicon glyphicon-tags"></span>
                <span th:text="${session.currentUser!=null&&map.user.uid==session.currentUser.uid?'我':'TA'}"></span>的收藏
            </a>
        </li>
    </ul>
</div>
<div style="overflow: auto;height: 100%;" id="main-div">
    <a id="main-top"></a>
    <!--    用户动态-->
    <div class="col-md-offset-3 col-md-6 back" th:if="${page eq 'talk'}">
        <div class="well text-center text-success">
            <span th:text="${session.currentUser!=null&&map.user.uid==session.currentUser.uid?'我':'TA'}"></span>的动态
        </div>
        <div class="panel panel-success" th:each="list :${map.talks}"
             th:unless="${list.status==2&&(session.currentUser==null||map.user.uid!=session.currentUser.uid)}">
            <div class="panel-heading" style="width: 100%">
                <b>发表于:</b>[[${#dates.format(list.time,'yyy年MM月dd日HH:mm:ss')}]]
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li th:unless="${list.status==2}"><a href="javascript:void(0);">分享</a></li>
                            <li th:unless="${list.status==2}" class="divider"></li>
                            <li><a target="_blank" th:href="@{'/topic/t'+${list.tid}}">更多</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger alert-dismissable text-center" th:if="${list.status==2}">
                <h4>该动态被隐藏</h4>
            </div>
            <div class="panel-body" style="width: 100%">
                <p class="p"><a th:href="@{#}" th:each="t : ${list.topicArr}">&nbsp;#[[${t}]]#&nbsp;</a></p>
                <p class="p" th:text="${list.content}"></p>
                <div>
                    <div th:each="pic : ${list.pictureArr}" class="img-div">
                        <img th:src="@{'/topic/'+${list.uid}+${pic}}" class="div-img" alt="配图">
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="width: 100%">
                <a th:href="@{'/topic/t'+${list.tid}}" target="_blank">
                    <button style="width: 33%">
                        <span class="glyphicon glyphicon-edit"></span>评论
                    </button>
                </a>
                <button style="width: 33%;float: right">
                    <span class="glyphicon glyphicon-thumbs-up"></span>点赞
                </button>
            </div>
        </div>
    </div>
    <!--    用户收藏-->
    <div class="col-md-offset-3 col-md-6 back-white" th:if="${page eq 'mark'}">
        <div class="well text-center text-success">
            <span th:text="${session.currentUser!=null&&map.user.uid==session.currentUser.uid?'我':'TA'}"></span>的收藏
        </div>
        <div class="panel panel-info" th:each="m : ${map.marks}">
            <div class="panel-heading">
                <h3 class="panel-title" th:if="${m.acItems==null}">已删除的作品</h3>
                <div th:if="${m.acItems!=null}">
                    <a target="_blank" th:href="@{'/acInfo/'+${m.acItems.id}}">
                        <span th:text="${m.acItems.name}"></span> ([[${m.acItems.year}]])
                    </a>/
                    <small>
                        <em>收藏于</em><i th:text="${#dates.format(m.createDate,'yyy年MM月dd日HH:mm:ss')}"></i>
                    </small>/
                    进度：<span th:text="${m.pro[m.progress]}"></span>/
                    <small>
                        [评分<span th:text="${m.acItems.star(m.rating)}"></span>]
                        <i th:text="${m.rating+'分'}"></i>
                    </small>
                </div>
            </div>
            <div class="panel-body" th:if="${m.acItems!=null}">
                <div class="col-md-2">
                    <a target="_blank" th:href="@{'/acInfo/'+${m.acItems.id}}">
                        <div class="img-div-1 pull-left back-white text-center">
                            <img alt="作品封面" th:src="@{'/images/cover/'+${m.acItems.image}}">
                        </div>
                    </a>
                </div>
                <div class="col-md-9">
                    <p th:text="${m.comment}"></p>
                </div>
            </div>
            <div class="panel-footer text-right" th:unless="${fakeinfo==null}"
                 th:if="${session.currentUser!=null&&map.user.uid==session.currentUser.uid}">
                <button type="button" class="btn btn-link" th:if="${m.acItems!=null}">
                    修改
                </button>
                <button type="button" class="btn btn-link button-delete">
                    删除
                </button>
            </div>
        </div>
    </div>
    <!--    用户信息-->
    <div class="col-md-offset-3 col-md-6 back-ghost" id="my-info"
         th:if="${map.page eq 'info'&&session.currentUser!=null&&map.user.uid==session.currentUser.uid}">
        <div class="panel panel-warning">
            <div class="panel-heading text-center">
                <h3 class="panel-title">我的信息</h3>
            </div>
            <form class="panel-body form-horizontal" role="form" id="my-form" method="post" th:action="@{/submit/user}"
                  enctype="multipart/form-data">
                <input type="hidden" name="username" th:value="${map.user.username}">
                <input type="hidden" name="uid" th:value="${map.user.uid}">
                <input type="hidden" name="photo" th:value="${map.user.photo}">
                <input type="hidden" name="password" value="password">
                <span style="color: red;" th:errors="${user.password}"></span>
                <div class="form-group">
                    <label for="file" class="col-sm-2 col-md-offset-1 control-label">头像</label>
                    <div class="col-sm-6">
                        <div class="img-div-2 text-center">
                            <img id="img" alt="头像预览" title="点击上传" th:src="@{'/images/avatar/'+
                        ${#strings.isEmpty(map.user.photo)?'none.jpg':map.user.photo}}">
                        </div>
                        <input type="file" class="form-control" id="file" name="file"
                               accept="image/jpeg,image/png">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birth" class="col-sm-2 control-label">生日</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="birth" name="birth"
                               th:value="${#dates.format(map.user.birth,'yyyy-MM-dd')}">
                        <span style="color: red;" th:errors="${user.birth}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="email" name="email"
                               th:value="${map.user.email}">
                        <span style="color: red;" th:errors="${user.email}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="gender" name="gender">
                            <option th:selected="${map.user.gender eq 'M'}" value="M">男</option>
                            <option th:selected="${map.user.gender eq 'F'}" value="F">女</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="alert alert-danger alert-dismissable text-center" th:if="${!#strings.isEmpty(message)}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span th:text="${message}"></span>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-link" onclick="editUser()">
                    修改用户名或密码
                </button>
                <button type="submit" class="btn btn-default pull-right" onclick="submitUser()">
                    提交
                </button>
            </div>
        </div>
    </div>
    <!--用户信息-->
    <div class="col-md-offset-3 col-md-6 back-ghost" id="other-info"
         th:if="${(map.page eq 'info')&&(session.currentUser==null||map.user.uid!=session.currentUser.uid)}">
        <div class="well text-center text-success">TA的信息</div>
        <div class="panel panel-warning">
            <div class="panel-heading text-center">
                <h3 class="panel-title" th:text="${map.user.username+'的基本资料'}"></h3>
            </div>
            <div class="panel-body list-group text-center">
                <div class="img-div-2">
                    <img alt="用户头像" th:src="@{'/images/avatar/'+
                        ${#strings.isEmpty(map.user.photo)?'none.jpg':map.user.photo}}">
                </div>
                <a href="javascript:void(0);" class="list-group-item">
                    <span th:text="${#dates.format(map.user.birth,'yyy年MM月dd日')}"></span>
                    <span th:if="${map.user.birth==null}">暂无</span>
                </a>
                <a href="javascript:void(0);" class="list-group-item">
                    <span th:text="${map.user.email}"></span>
                    <span th:if="${#strings.isEmpty(map.user.email)}">暂无</span>
                </a>
                <a href="javascript:void(0);" class="list-group-item">
                    <span th:text="${map.user.gender eq 'M'?'男':'女'}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<a href="#main-top" class="bottom-right">
    <img alt="Top" th:src="@{/images/character/LuoTianyi.gif}" title="回到顶部">
</a>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        let page1 = "[[${map.page}]]";
        if (page1 === "talk") {
            $("#talk-li").addClass("active");
        } else if (page1 === "mark") {
            $("#mark-li").addClass("active");
        } else if (page1 === "info") {
            $("#info-li").addClass("active");
        }
        $(".button-delete").on("click", function () {
            if (confirm("确定删除？")) {
                alert("未实现功能");
            }
        });
        $("#file").change(function () {
            let file = $("#file")[0].files[0];
            $("#img").attr("src", getObjectURL(file));
        });
        $("#img").on("click", function () {
            $("#file").click();
        });
    });

    function editUser() {
        location.href = "[[@{/account}]]";
    }

    function submitUser() {
        if (confirm("确定提交修改？")) {
            $("#my-form").submit();
        }
    }
</script>
</html>