<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>我的主页</title>
</head>
<body>
<!-- 导航栏-->
<nav th:replace="/index :: head"></nav>
<div class="col-md-2" style="border-right-color: #0000CD;border-right-style: double;height: 100%;
position: fixed;text-align: center;">
    <img class="img-rounded img-thumbnail" alt="头像" style="height: 100px;"
         th:src="${#strings.isEmpty(session.currentUser.photo)}?
         '/images/no-one.jpg':'/images/avatar/'+${session.currentUser.photo}">
    <h4>[[${session.currentUser.username}]]</h4>
    UID：<span class="badge">[[${session.currentUser.uid}]]</span>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-align-left"></span> 个人信息</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> 修改信息</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-tags"></span> 个人收藏</a></li>
    </ul>
</div>
<div class="col-md-offset-2 col-md-8" style="background-color: #F0FFFF;">
</div>
<img alt="notTing" class="bottom-right" th:src="@{/images/character/LuoTianyi.gif}">
</body>
</html>